html,body{
    background-color:#04080F;
    margin: 0;
    padding: 0;
}

.Dark{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color:#04080F;
    padding-bottom: 10%;
    transition: 1s;
}

.Light{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FDFFFC;
    padding-bottom: 10%;
    transition: 1s;
}
@media all and (max-width:745px){
    .Dark{
        flex-direction: column;
    }
    #Blam{
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #moreInfo{
        margin-bottom: 2em;
    }


}