@font-face {
    font-family: 'Barlow-Bold-Italic';
    src:
    url('/Users/bobbydeluna/Desktop/blam/weather-app/Weather-App/weather-app/src/fonts/Barlow/Barlow-ExtraBoldItalic.ttf')
}

@font-face {
    font-family: "Barlow-SemiBoldItalic";
    src: url('/Users/bobbydeluna/Desktop/blam/weather-app/Weather-App/weather-app/src/fonts/Barlow/Barlow-SemiBoldItalic.ttf');
}

#displayBox{
    background-color: rgb(55, 49, 41);
    position: relative;
    width: 30em;
    height: 35em;
    overflow:hidden;
    left:10%;
    margin-top: 5%;
    z-index: 1;
    border-radius: 2%;
}

#bg{
    position: relative;
    bottom: 40px;
    z-index:2 ;
    filter: contrast(.60) hue-rotate(10deg);
}

#areaBox{
    position: relative;
    float: left;
    left: 10px;
    z-index: 5;
    font-size: 25px;
    bottom: 250px;
    font-family: "Barlow-Bold-Italic";
    color: #FDFFFC;
}

#city{
    position: relative;
    top: 40px;
}

#weatherBox{
    position: relative;
    width: 90%;
    bottom: 50px;
    z-index: 4;
    bottom: 10px;
    color: #FDFFFC;
    font-family: 'Barlow-SemiBoldItalic';
    background-color: aqua;
}

#high{
    position: relative;
    left: 10%;
    width: fit-content;
    margin-top: 0;
    border-style: solid;
    display: inline-block;

}

#low{
    position: relative;
    width: fit-content;
    display: inline-block;
}

#humid{
    position: relative;
    width: fit-content;
    display: inline-block;
}