@font-face {
    font-family: 'Barlow-Bold-Italic';
    src:
    local('Barlow-ExtraBoldItalic.ttf'),
    url('/src/fonts/Barlow/Barlow-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: "Barlow-SemiBoldItalic";
    src: local('Barlow-SemiBoldItalic.ttf'),
    url('/src/fonts/Barlow/Barlow-SemiBoldItalic.ttf');
}

#DarkmoreInfo{
    background-color: #011C27;
    width: 450px;
    height: 30em;
    margin-top: 50px;
    overflow-y: scroll;
    border-radius: 2%;
    text-align: center;
    color: #FDFFFC;
    transition: 1s;
}

#LightmoreInfo{
    background-color: #61A0AF;
    width: 450px;
    height: 30em;
    margin-top: 50px;
    overflow-y: scroll;
    border-radius: 2%;
    text-align: center;
    color: #FDFFFC;
    transition: 1s;
}

#Darkweek{
    position: sticky;
    top: 0px;
    font-family: "Barlow-Bold-Italic";
    z-index: 7;
    background-color: #011C27;
    transition: 1s;
}

#Lightweek{
    position: sticky;
    top: 0px;
    font-family: "Barlow-Bold-Italic";
    z-index: 7;
    background-color: #61A0AF;
    transition: 1s;
}

#DarkweekBox{
    font-family: "Barlow-SemiBoldItalic";
    background-color: #61A0AF;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height:60px;
    border-radius: 10px;
    margin-top: -10px;
    transition: 1s;
}

#DarkweekBox{
    font-family: "Barlow-SemiBoldItalic";
    background-color: #61A0AF;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height:60px;
    border-radius: 10px;
    margin-top: -10px;
    transition: 1s;
}

#LightweekBox{
    font-family: "Barlow-SemiBoldItalic";
    background-color: #011C27;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height:60px;
    border-radius: 10px;
    margin-top: -10px;
    transition: 1s;
}

#weekTemps{
    position: relative;
    bottom: 15px;
}

#weekHigh{
    position: relative;
    float:left;
    left: 10%;
}

#weekRain{
    position:relative;
    float:right;
    right:10%;
}

#weekLow{
    position:relative;
    display: inline;
}